<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psi.springboot.mappers.CheckitemMapper">
    <select id="findListByCheckgroupId" resultType="checkitem">
        select i.*
        from t_checkitem i
                 left join t_checkgroup_checkitem gi
                           on i.id = gi.checkitem_id
        where gi.checkgroup_id = #{id}
    </select>
</mapper>
