<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psi.springboot.mappers.CheckgroupMapper">
    <select id="findListBySetmealId" resultType="checkgroup">
        select g.*
        from t_checkgroup g
                 left join
             t_setmeal_checkgroup sg
             on g.id = sg.checkgroup_id
        where sg.setmeal_id = #{id}
    </select>
</mapper>
