<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psi.springboot.mappers.OrderMapper">
    <!--
    返回值类型为Map，会有多条数据，用List接收
    -->
    <select id="getHotSetmeal" resultType="map">
        SELECT s.name,
               COUNT(o.setmeal_id)                                           AS setmeal_count,
               CONCAT(FORMAT(COUNT(s.id) /
                             (SELECT COUNT(id) FROM t_order) * 100, 2), '%') AS proportion,
               s.remark
        FROM t_order o
                 left join
             t_setmeal s
             on s.id = o.setmeal_id
        GROUP BY s.id
        ORDER BY setmeal_count DESC LIMIT 3
    </select>
</mapper>
